.currentSong {
    width: 80vw;
    max-width: 65rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 2rem 2rem;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nowPlayingImg {
    height: 10rem;
    border-radius: 1rem;
}

.label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.imageAndTitle {
    display: flex;
    flex-direction: column;
    width: 25rem;
    align-items: center;
    justify-content: space-between;
}

.imageAndTitle>img{
    margin-bottom: 10px;
}

.link {
    color: white;
    font-size: medium;
    width: auto;
    height: auto;
}

.link:hover {
   color: lightblue;
   border-bottom: 1px solid lightblue; 
}

.artistName {
    text-align: center;
    font-size: small;
    font-weight: 200;
}

.desc {
    font-size: 1rem;
    font-weight: 200;
    max-width: 30%;
}

@media screen and (max-width:640px) {
    .currentSong {
        width: auto;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 2rem;
    }

    .desc {
        max-width: 90%;
        padding: 0.3rem;
    }

    .label{
        padding: 1rem 0.5rem;
    }
}